<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connect Words</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/join.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
  <main class="container">
    <h1>Add Connection</h1>
    <form>
      <label for="word1">Word 1:</label>
      <select id="word1" name="word1" required>
      </select>
      <label for="word2">Word 2:</label>
      <select list="nollk" id="word2" name="word2" required>
      </select>

      <label for="strength">Connection:</label>
      <select id="strength" name="strength">

      </select>
      <input type="submit" class="button" value="Add Connection">
    </form>
  </main>
</body>

</html>